/* ===============================
   CUSTOM FONTS
================================ */
@font-face {
    font-family: 'DM Sans';
    src: url('../../fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../../fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
}
@font-face {
    font-family: 'FugazOne';
    src: url('../fonts/FugazOne-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Archivo';
    src: url('../fonts/ArchivoBlack-Regular.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body,html {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #132440, #16476A, #3B9797);
}

.navbar{
    height: 20vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 0.7px solid rgba(255, 255, 255, 0.125);
    padding: 22px 24px;
}
.n1{
    display: flex;
    align-items: center;
    gap: 15px;
    width: 20%;
    height: 100%;
}
.n1 h2{
    font-family: 'DM Sans';
    font-size: 3.5rem;
    font-weight: 200;
    line-height: 28.8px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.n1 h2:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #489edc;
    transform:translateY(-5px);

}

#menu{
    font-size: 2rem;
    font-weight: 200;
    border: 1px solid rgba(255, 255, 255, 0.125);
    border-radius: 50%;
    padding: 7px;
}
#menu:hover{
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    color: #489edc;
    transform:rotate(90deg);
}
.n2{
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.n2 h1{
    font-family: 'Archivo';
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 28.8px;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
}

.n3{
    height: 100%;
    width: 25%;
    display: flex;
    align-items: center;
    gap: 10px;
}
