/* ===============================
   CUSTOM FONTS
================================ */
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #132440, #16476A, #3B9797);
}
a {
    text-decoration: none;
}

.nav {
    height: 12vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    position: static;
    font-family: 'Space Grotesk', sans-serif;
    border-bottom: 1.5px solid rgba(255, 255, 255, 0.1);

}

#n1 {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    gap: 12px;
    margin-left: 10px;
}

#n1 h4 {
    font-weight: 600;
    font-size: 35px;
    cursor: pointer;
}

#n1 h4:hover {
    border: 1px solid white;
    border-radius: 50%;
    transform: rotateY(180deg);
}

#n1 h1 {
    font-size: 45px;
    cursor: pointer;
    color: white;
}

#n1 a {
    color: white;
}

#n1 h1:hover {
    opacity: 0.6;
}


#n2 {
    display: flex;
    margin-right: 25px;
    padding: 10px 20px;
    gap: 12px;
    align-items: center;
}

#n2 h4 {
    font-weight: 600;
    cursor: pointer;
    padding: 5px 7px;
    font-size: 18px;
}

.a:hover {
    background-color: rgba(255, 255, 255, 0);
    height: 35px;
    border-radius: 30px;
    border: 2px solid white;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2px 5px;
}

#logincard {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;
    background: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    backdrop-filter: blur(3px);
    transition: 0.25s ease;
    pointer-events: none;
}

#logincard.show {
    opacity: 1;
    pointer-events: auto;
}

#card {
    height: 400px;
    width: 450px;
    background-color: white;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
    position: relative;
}

#cross {
    padding: 10px 15px;
    color: white;
    cursor: pointer;
}

#c1 {
    height: 55%;
    width: 100%;
    background-image: url(card.jpg);
    background-size: cover;
    background-position: center;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

#d1 {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    margin-left: 25px;
    margin-right: 25px;
    gap: 12px;
}

#d1 h2 {
    font-size: 32px;
    color: white;
}

#d1 input {
    border-radius: 20px;
    border: none;
    font-size: 15px;
    height: 45px;
    width: 100%;
    padding: 11px 12px;
    background-color: rgba(255, 255, 255, 0.5);
}

#d1 button {
    height: 45px;
    width: 100%;
    border: 2px white solid;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.089);
    color: white;
    font-size: 25px;
    cursor: pointer;
}

#c2 {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

#gl {
    width: 45%;
    height: 40px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
}

#gl img {
    height: 20px;
}

#c2 p {
    font-size: 15px;
    padding: 20px 30px;
    color: gray;
}

#gl:hover {
    background-color: rgba(200, 225, 233, 0.24);
    border-color: rgba(200, 225, 233, 0.685);
}


#menubar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: 0.25s ease;
}

#menubar.show {
    opacity: 1;
    pointer-events: auto;
}

#o1 a {
    text-decoration: none;
    color: black;
}

#o1 a:hover {
    opacity: 0.5;
}

#menubar h2 a {
    text-decoration: none;
    color: black;
}

#menubar h2 a:hover {
    opacity: 0.5;
}

#options {
    height: 100%;
    width: 300px;
    background-color: rgb(255, 255, 255);
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
}

#options h2 {
    padding: 30px 40px;
    font-size: 30px;
    font-weight: 700;
}

#o1 {
    height: 200px;
    width: 280px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 10px 0px;
    border-bottom: 1px rgba(128, 128, 128, 0.253) solid;
    margin-left: 10px;
    margin-right: 10px;
    gap: 25px;

}

#o1 h3 {
    margin-left: 30px;
    font-weight: 500;

}

.b {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

#o2 {
    height: 50%;
    width: 280px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;

    border-bottom: 1px rgba(128, 128, 128, 0.253) solid;
    padding: 40px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#o2 h3 {
    font-size: 35px;
    margin-left: 10px;
    color: black;
}

#btns {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

#l-btn {
    width: 85%;
    height: 35px;
    border-radius: 25px;
    color: black;
    background-color: white;
    font-size: 18px;
    border: 1px solid grey;
    cursor: pointer;
}

#l-btn:hover {
    border: 2px solid black;
}

#ctn {
    width: 85%;
    height: 35px;
    border-radius: 25px;
    background-color: black;
    color: white;
    font-size: 18px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

#ctn:hover {
    opacity: 0.8;
}

#o3 {
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.e1 {
    margin-left: 10px;
    gap: 20px;
    color: gainsboro;
    display: flex;
    gap: 20px;
}

.e1 a {
    color: rgba(102, 102, 102, 0.438);
}

.e1 a:hover {
    color: black;
}

#o3 p {
    margin-top: 10px;
    margin-left: 10px;
    color: rgba(102, 102, 102, 0.438);

}


.main {
    height: 100%;
    width: 100%;
    
}

.hero {
    min-height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    image-rendering: -webkit-optimize-contrast;

}

#hero1 {
    margin-top: 0.5em;
    height: 85vh;
    width: 95vw;
    background-image: url("imgs/2.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    border-radius: 15px;
    margin-bottom: 1em;
    opacity: 0.8;
}


.hero h1 {
    font-size: 8rem;
    font-family: 'Space Grotesk', sans-serif;
    letter-spacing: -2px;
    z-index: 100;
    color: white;
    transition: text-shadow 0.35s ease, transform 0.35s ease;
    opacity: 1;
}

.hero h1:hover {
    transform: translateY(-9px);
    text-shadow: 0 0 4px rgba(255, 255, 255, 0.4), 0 0 6px rgba(255, 176, 115, 0.35), 0 0 10px rgba(255, 255, 255, 0.4);
}

.hero a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    height: 2.5em;
    width: 18em;
    border: 2px solid white;
    text-align: center;
    border-radius: 4em;
    display: flex;
    align-items: center;
    justify-content: center;


    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Hover effect -> Lift + Shadow */
.hero a:hover {
    box-shadow: 0px 10px 20px rgba(255, 255, 255, 0.4);
}


.left {
    margin-top: 0.5vh;
    height: 100%;
    width: 20%;
    display: flex;
    gap: 0.5em;
}


.elem1 {
    height: 100%;
    width: 100%;
    padding: 11px;
    border-radius: 12px;
}



.vertical {
    height: 100%;
    width: 100%;
    overflow-y: auto;
    overflow: hidden;
}

.vertical::-webkit-scrollbar {
    display: none;
}

.group {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 20px;
    animation: spins 75s infinite linear;
    align-items: center;
}


.card {
    height: 550px;
    width: 80%;
    border-radius: 12px;

}

.card img {
    height: 550px;
    width: 100%;
    border-radius: 12px;
    object-fit: cover;
    object-position: center;
}

@keyframes spins {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-50%);
    }

}

@keyframes spins2 {
    from {
        transform: translateY(-50%);
    }

    to {
        transform: translateY(-0%);
    }

}

#main-page {
    display: flex;
    height: 120vh;
    width: 100%;
    background: linear-gradient(180deg, #3B9797, #16476A, #132440);
}

.body {
    margin-top: 0.5vh;
    width: 80%;
    height: 100%;
    padding: 10px 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}

.parentcard {
    border-radius: 12px;
    height: 65%;
    width: 100%;
    padding: 11px 15px;
    gap: 0.5em;
    display: flex;
    flex-direction: column;
}

#agent {
    height: 45%;
    width: 100%;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

#agent h2 {
    font-size: 7rem;
}

#agent h4 {
    font-size: 3rem;
    margin-top: .5em;
}

#agent-cards {
    height: 55%;
    width: 100%;
    background-color: rgb(34, 34, 34);
    border-radius: 20px;
    display: flex;
    padding: 8px 9px;
    gap: 0.5em;
    position: relative;
}

#child1 {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2%;
    align-self: center;
    font-size: 4.5rem;
    cursor: pointer;
    color: #ffffff;
}

#child1 h3 {
    font-weight: 100;
}

#child2 {

    height: 100%;
    width: 96%;
    padding: 5px 6px;
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: auto;
    scroll-behavior: smooth;
}

#child2::-webkit-scrollbar {
    display: none;
}

.edge-glow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 40px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    z-index: 5;
}

/* LEFT GLOW */
.left-glow {
    left: 40px;
    background: linear-gradient(to right,
            rgba(255, 255, 255, 0.534),
            transparent);
}

/* RIGHT GLOW */
.right-glow {
    right: 40px;
    background: linear-gradient(to left,
            rgba(255, 255, 255, 0.623),
            transparent);
}

.child {
    display: inline-block;
    margin-left: 8px;
    padding: 9px 10px;
    height: 100%;
    width: 45%;
    background-color: rgb(80, 80, 80);
    border-radius: 20px;
}

.child:hover {
    transform: translateY(-2px);
    box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.733);
}

.child p {
    font-size: 1.5rem;
    white-space: normal;
    word-wrap: break-word;
}

#child3 {
    height: 10%;
    display: flex;
    align-items: center;
    align-self: center;
    justify-content: center;
    width: 2%;
    font-size: 4rem;
    cursor: pointer;
    color: #ffffff;
}

#child3 h3 {
    font-weight: 100;
}

.parentcard2 {
    border-radius: 12px;
    height: 35%;
    width: 100%;


}

.parentcard2 #child2 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    padding: 5px 6px;
}

.parentcard2 .child {
    margin-left: 2em;
    padding: 9px 10px;
    height: 100%;
    width: 30%;
    background-color: rgb(80, 80, 80);
    border-radius: 20px;
}

.parentcard2 .child p {
    font-size: 1.5rem;
}

.footer {
    margin-top: 0.8em;
    background-color: azure;
    height: 45vh;
    width: 100%;
}

.foot-child1 {
    height: 80%;
    width: 100%;
    background-color: black;
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.foot-child1 div {
    display: flex;
    width: 80%;
    height: 60%;
    justify-content: space-between;
    padding: 22px 24px;
    font-weight: 300;
    font-size: 1.5rem;
}

.foot-child1 div a {
    color: rgb(253, 253, 253);
}

.foot-child1 div ul {
    list-style: none;
    color: rgb(255, 255, 255);
}

.foot-child1 div li {
    margin-top: 8px;
}

.foot-child1 div li:hover {
    font-weight: 700;
}

.foot-child2 {
    height: 20%;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.foot-child2 div a {
    color: white;

}

#aleft,
#aright {
    opacity: 0;
}