/* ===============================
   CUSTOM FONTS
================================ */
@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'DM Sans';
    src: url('../fonts/DMSans-Italic-VariableFont_opsz,wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../fonts/SpaceGrotesk-VariableFont_wght.ttf') format('truetype');
    font-weight: 300 700;
    font-style: normal;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


html,
body {
    height: 100%;
    width: 100%;
    background: linear-gradient(180deg, #132440, #16476A, #3B9797);
}
a {
    text-decoration: none;
}
.nav{
    height: 12vh;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 30px 60px;
}
